Training data points has no anomaly points while test data points have

In [6]:
import numpy as np
import pandas as pd
import os

In [7]:
dataset_folder = '../data/SWaT'
file = os.path.join(dataset_folder, "series.json")
df_train = pd.read_json(file, lines=True)[["val"]][3000:6000]
df_train.head()

            val
3000  397.18332
3001  398.12668
3002  397.82000
3003  403.17334
3004  410.86000

In [8]:
df_test  = pd.read_json(file, lines=True)[['val']][7000:12000]
df_test.head()

            val
7000  443.19666
7001  442.04666
7002  445.05667
7003  450.55000
7004  446.37668

In [9]:
def normalize2(a, min_a = None, max_a = None):
	if min_a is None: min_a, max_a = min(a), max(a)
	return (a - min_a) / (max_a - min_a), min_a, max_a

train, min_a, max_a = normalize2(df_train.values)
print(min_a, max_a)

[335.79] [564.12665]

In [10]:
test, _, _ = normalize2(df_test.values, min_a, max_a)

In [11]:
labels = pd.read_json(file, lines=True)[['noti']][7000:12000] + 0
labels.head()

      noti
7000     0
7001     0
7002     0
7003     0
7004     0

In [12]:
train[:5], test[:5], labels[:5]

(array([[0.26887195],
        [0.27300339],
        [0.27166029],
        [0.29510523],
        [0.32876895]]),
 array([[0.4703873 ],
        [0.46535088],
        [0.47853321],
        [0.50259124],
        [0.48431419]]),
       noti
 7000     0
 7001     0
 7002     0
 7003     0
 7004     0)

In [14]:
all_labels = pd.read_json(file, lines=True)[["noti"]] + 0
all_labels

       noti
0         0
1         0
2         0
3         0
4         0
...     ...
12082     0
12083     0
12084     0
12085     0
12086     0

[12087 rows x 1 columns]

In [17]:
len(all_labels[all_labels["noti"] == 1])

644

In [24]:
output_folder = "preprocessed"
dataset = "SWaT"
folder = os.path.join(output_folder, dataset)
os.makedirs(folder, exist_ok=True)

In [26]:
for file in ['train', 'test', 'labels']:
    np.save(os.path.join(folder, f'{file}.npy'), eval(file))